// ONS Palette
$spring-green: #A8BD3A;
$mint-green: #00A3A6;
$sky-blue: #27A0CC;
$ocean-blue: #206095;
$night-blue: #003C57;

// Mono
$true-black: #000;
$black: #222;
$grey1: #414042;
$grey2: #707071;
$grey3: #BCBCBD;
$grey4: #E2E2E3;
$grey5: #F5F5F6;
$white: #FFF;

// Supporting Palette
$ruby-red: #D0021B;
$jaffa-orange: #FE781F;
$sun-yellow: #FBC900;
$neon-yellow: #F0F762;
$leaf-green: #0F8243;

// Census
$indigo-blue: #3C388E;
$plum-purple: #902082;
$flamingo-pink: #DF0667;


//Colour types
$primary:       $leaf-green;
$secondary:     $grey2;

$active:        $black;
$disabled:      $grey4;
$census:		$indigo-blue;
$error:         $ruby-red;


$colours: (
		//name      			//background-colour 	//font-colour	//anchor-colour
		("black",				$black, 				$grey4,			$grey4)
		("grey1", 				$grey1, 				$grey4,			$grey4)
		("grey2", 				$grey2, 				$grey4,			$grey4)
		("grey3", 				$grey3, 				$black,			$ocean-blue)
		("grey4", 				$grey4, 				$black,			$ocean-blue)
		("grey5", 				$grey5, 				$black,			$ocean-blue)
		("white", 				$white, 				$black,			$ocean-blue)
		("ocean-blue",			$ocean-blue, 			$white)
		("night-blue", 			$night-blue, 			$white)
		("leaf-green",			$leaf-green, 			$white)
		("ruby-red", 			$ruby-red, 				$white)
		("jaffa-orange", 		$jaffa-orange, 			$black)
		("sky-blue", 			$sky-blue, 				$grey5)
		("indigo-blue",			$indigo-blue,			$grey4)
		("sun-yellow",			$sun-yellow, 			$black, 		$night-blue)
);



@function colour($key) {
  @if map-has-key($colours, $key) {
    @return map-get($colours, $key);
  }

  @warn "Unknown `#{$key}` in $colors.";
  @return null;
}
