//_alert.scss

.alert {
    background-color: $grey2;
    padding: ($baseline * 2) 0 ($baseline * 3) 0;
    color: $grey4;

    @media print {
        display: none;
    }

    &__title {
        font-size: 24px;
        line-height: 24px;
        margin-top: 0;
        margin-bottom: ($baseline * 1);
        padding: 3px 0 5px 0;

        a {
            color: $grey4;

            &:hover {
                color: $white;
            }

        }

    }

    &__link {
        color: $grey4;
        font-size: 16px;
        text-decoration: underline;
        padding: 5px 0 3px 0;
        display: inline-block;

        &:hover {
            color: $white;
        }

        &:focus {
            color: $black;
            background: $grey4;
        }
    }

    &__content {
        font-size: 14px;
        margin: 0;

        &--large {
            font-size: 17px;
            margin: 0;
        }
    }

    &__date {
        padding: 5px 0 10px 0;
        margin: 0;
        font-size: 17px
    }

    &--warning {

        padding: $baseline 0;

        &__title {
            padding-left: ($col * 4);
            margin: $baseline 0;
            text-align: left; //IE9 fix, puts text centre aligned
        }

        &__content {

            @include breakpoint(sm) {
                margin: 0 $col
            }

            @include breakpoint(md) {
                margin: 0 $col * 4;
            }
        }
    }

    &--light {
        padding:0 0 0 $baseline * 2;
        background:none;
        border-left: 8px $ruby-red solid;
        color:$black;
        a {
          color:$ruby-red;
        }
    }
}

.status {
    padding:$baseline * 2;
    margin: 0 0 $baseline;
    background:$grey5;
    color:$black;

    @media print {
        display: none;
    }

    &--green {
        border-left: 8px $leaf-green solid;
    }
    &--amber {
        border-left: 8px $jaffa-orange solid;
    }
    &--red {
        border-left: 8px $ruby-red solid;
    }
    &--blue {
        border-left: 8px $indigo-blue solid;
    }

    &__content {
        margin:0 0 $baseline * 2;
        font-size: 16px;
        line-height: 24px;
        color:$black;
        padding: 0 $baseline 0 0 ;
    }

    &__link {
        text-decoration: underline;
    }
}

.alert-release-banner {
    background-color: $white;
    color: $grey1;
    width: auto;

    @media print {
        display: none;
    }

    &__latest {
        border-left: 7px solid $ocean-blue;
    }

    &__not-latest {
        border-left: 7px solid $jaffa-orange;
    }

    &__title {
        font-size: 18px;
        line-height: 32px;
        padding: 0;
        margin: ($baseline * 1) ($baseline * 2);

        a {
            color: $ocean-blue;
        }
        
        @include breakpoint(sm) {
            font-size: 16px;
            line-height: 24px;
        }
    }

    &__link {
        font-size: 18px;
        display: inline-block;
        
        @include breakpoint(sm) {
            font-size: 16px;
        }
    }

    &__content {
        font-size: 14px;
        margin: 0;

        &--large {
            font-size: 17px;
            margin: 0;
        }
    }

    &__date {
        padding: 5px 0 10px 0;
        margin: 0;
        font-size: 17px
    }
}


.alert-bulletins {
    background-color: $white;
    color: $grey1;
    width: auto;

    @media print {
        display: none;
    }

    &--warning {

        padding: $baseline 0;

        &__title {
            padding-left: ($col * 4);
            text-align: left; //IE9 fix, puts text centre aligned
        }

        &__content {

            @include breakpoint(sm) {
                margin: 0 $col
            }

            @include breakpoint(md) {
                margin: 0 $col * 4;
            }
        }
    }

    &--light {
        padding:0 0 0 $baseline * 2;
        background:none;
        border-left: 8px $ruby-red solid;
        color:$black;
        a {
            color:$ruby-red;
        }
    }

    &--border {
        border: 1px solid #fff;
        padding: ($baseline * 1) 0;
    }

    &--expand-arrow {
        margin: 0 !important;
        padding: 0 !important;
    }

    &--info-box {//fix positioning of info-box on bulletin pages
        top: $baseline * 1 !important;
        margin: 0 !important;
    }
}
