// Pontential replacement for the show/hide component.
// Heavily based on the GDS hidden text - http://govuk-elements.herokuapp.com/typography/#typography-hidden-text
// Uses the HTML5 <details> attribute and therefore requires a pollyfill (details.polyfill.js)

details {
    display: block;
    clear: both;

    summary {
        cursor:pointer;
        color: $ocean-blue;
        text-decoration: underline;
        display: inline-block;

        &:focus {
            @include box-shadow(0 0 0 3px $jaffa-orange);
            outline:0;
        }

        span {
            color: $ocean-blue;
            &::-webkit-details-marker {
                font-size:20px;
            }
        }
    }

    .panel {
        border-left: 5px solid $grey3;
        padding-left: $col;
    }

    // An i.arrow element is created via the pollyfill for old browsers
    .arrow {
        color: $ocean-blue;
        padding-right:5px;
        &[aria-hidden=true] {
            display: inline-block;
            visibility: visible;
        }
    }
}