.info-box {

    background-color: $sky-blue;
    color: $grey5;
    position: relative;

    a {
        color: $white;
        text-decoration: underline;

        &:not(.btn):focus {
            background-color: $grey5;
            color: $sky-blue;
        }

    }

}