.pym-interactive {

    @include breakpoint(md) {
        width: $col * 42;// 672px
    }

    @include breakpoint(lg) {
        width: $col * 44;// 704px
    }

    &--full-width {
        @include breakpoint(sm) {
            width: 100%;
        }
        @include breakpoint(lg) {
            width: $col * 59; // 944px
            margin-left: $col * -3; // -48px
        }
    }

    &-half-width {
        @include breakpoint(sm) {
            width: 100%;
        }

        @include breakpoint(md) {
            width: $col * 21;// 336px
            
        }
    
        @include breakpoint(lg) {
            width: $col * 22;// 352px
            
            
        }
    }
    //-half-width is 50% of standard 
    //-half-width--full is 50% of --full-width
    //please rename
    &-half-width--full{
        @include breakpoint(sm) {
            width: 100%;
        }
        @include breakpoint(md) {
            width: $col * 21;// 336px
        }
        @include breakpoint(lg) {
            width: $col * 32; // 512px
            margin-left: $col * -3; // -48px
        }
    }
    
    &--display-inline-flex{
        @include breakpoint(md) {
            display: inline-flex;
        }
    }
}




