//SEARCH

.search {

    @include breakpoint(sm) {
        background-color: $grey2;
    }

    @include breakpoint(md) {
        background-color: $grey1;
        font-size: 17px;
        height: 80px;
    }

    &--results-page {
        height: ($baseline * 24);

        h1 {
            color: $grey4;
            margin: ($baseline * 2) 0 $baseline 0;
        }

        @if $old-ie == false {
            @include breakpoint(sm) {
                height: auto;
                h1 {
                    font-size: 21px;
                    line-height: ($baseline * 4);
                }
            }
        }
    }

    &__form {
        font-family: $base-font-family;
        font-weight: $base-font-weight;
        line-height: $base-line-height;
        color: $grey4;
        padding: ($baseline * 2) 0 ($baseline * 2) ($baseline * 2);
        overflow: initial;

        @if $old-ie == false {
            @include breakpoint(sm) {
                padding: ($baseline * 3) 0;
                overflow: hidden;
            }
        }
    }

    &__label {
        font-family: $base-font-family;
        font-weight: $base-font-weight;
        line-height: $base-line-height;
        font-size: 17px;
        color: $grey4;
        padding: 12px $col 12px 0;
        background-color: transparent;
        position: relative;

        @if $old-ie == false {
            @include breakpoint(sm) {
                display: none;
            }
        }
    }

    &__input {
        font-family: $base-font-family;
        font-weight: $base-font-weight;
        line-height: $base-line-height;
        font-size: 17px;
        color: $base-text-colour;
        border: none;
        padding: 4px;
        height: ($baseline * 6);
        background: white;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        -webkit-appearance: textfield; // Fix for safari hiding 'x' behind padding

        &:focus {
            outline: 2px solid $jaffa-orange;
            outline-offset: -2px;
            z-index: 1;
            position: relative;
        }

        @if $old-ie == false {
            @include breakpoint(sm) {
                width: 80%;
                font-size: 14px;
                padding: 12px $col/2 8px $col/2;

            }
        }

        &--results-page {
            height: ($baseline * 5);
        }

        &--body {
            background: none;
            outline: 2px solid $black;
            outline-offset: 0;
            z-index: 1;
            position: relative;
            float: left;
        }
    }

    &__button {
        font-family: $base-font-family;
        font-weight: $base-font-weight;
        line-height: $base-line-height;
        font-size: 17px;
        color: $white;
        border: none;
        padding: 0;
        background-color: $primary;
        height: ($baseline * 6);
        position: relative;
        transition: all .3s;

        &:hover,
        &:focus {
          background-color: darken($primary, 8%);
        }

        &:focus {
          outline: 3px solid $jaffa-orange;
        }

        @if $old-ie == false {
            @include breakpoint(sm) {
                width: 20%;
                font-size: 14px;
                padding-left: $col/2;
                padding-right: $col/2;
            }
        }

        &--results-page {
            height: ($baseline * 5);
            padding-top: ($baseline / 2);
        }

        &--body {
            height: 52px;
            width: 52px;
            margin-top: -2px;
            float: left;
        }
    }
}
