// slates

.slate {

	&--black {
		background-color: $black;
		color:	$grey4;
	}

	&--grey1 {
		background-color: $grey1;
		color: $grey4;
	}

	&--grey2 {
		background-color: $grey2;
		color:	$grey4;
	}

	&--grey3 {
		background-color: $grey3;
	}

	&--grey4 {
		background-color: $grey4;
	}

	&--grey4 {
		background-color: $grey4;
	}

	&--grey4 {
		background-color: $grey4;
	}

	&--grey5 {
		background-color: $grey5;
	}

	&--grey3 {
		background-color: $grey3;
	}

	&--grey5 {
		background-color: $grey5;
	}

}
