.select {
    background-color: white;
    border: 1px solid $grey4;
}

@if $old-ie != true {
	.select-alt{
		position: relative;
		display: inline-block;
		border: 2px solid $black;
		.select {
			font-size: 16px;
			border: none;
			border-radius: 0;
			padding: 5px;
			outline:none;
			&:focus {
					outline: 3px solid $jaffa-orange;
			}
		}
	}
}
